body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
#root{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #1b095a;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1000; /* Ensure the navbar stays on top of other content */
}

.page-container {
  padding-top: 90px; /* Adjust this value according to the height of your navbar */
}



.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff; /* White color */
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #13021d; /* Darker shade of blue */
}

.nav-link.active {
  background-color: #13021d; /* Darker shade of blue */
}

/* Additional styling for logout button */
.navbar-nav.ml-auto {
  display: flex;
  align-items: center;
}

.navbar-nav.ml-auto .nav-item {
  margin-left: 10px; /* Adjust margin between logout button and other navbar items */
}

/* Push the logout button to the extreme right */
.navbar-nav.ml-auto .nav-item:last-child {
  margin-left: auto;
}

/* Highlighted text links */
.highlightTextOut a {
  color: rgba(255, 255, 255, 0.3);
}

.highlightTextOut a:before,
.highlightTextIn a:before {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  padding: 10px;
  overflow: hidden;
  content: attr(alt);
  transition: all 0.3s;
  transform: scale(0.8);
  opacity: 0;
}

.highlightTextOut a:hover:before,
.highlightTextIn a:hover:before {
  transform: scale(1);
  opacity: 1;
}


  h2 {
    color: #333;
  }
  
  .event-card {
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0; /* Light grey background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
  }
  
  .event-card.registered {
    border-color: #4caf50;
  }
  
  .event-card h3 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  
  .event-card p {
    margin: 10px 0;
  }
  
  /* Outer border */
  .event-card {
    border: 2px solid #3f51b5;
  }
  
  /* Inner border */
  .event-card .inner-border {
    border: 2px solid #fff;
    border-radius: 10px; /* Adjust as needed */
  }
  
 /* Primary button style */
.event-card button {
  padding: 10px 20px;
  background-color: #4caf50; /* Green color */
  color: #fff; /* White color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  margin-right: 10px; /* Add margin between buttons */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-card button:hover {
  background-color: #45a049; /* Darker shade of green */
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Secondary button style */
.event-card button.secondary {
  background-color: #3f51b5; /* Indigo color */
}

.event-card button.secondary:hover {
  background-color: #303f9f; /* Darker shade of indigo */
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Link style */
.event-card a {
  color: #3f51b5; /* Primary color for links */
  text-decoration: none;
  transition: color 0.3s ease;
}

.event-card a:hover {
  text-decoration: underline;
  color: #2c3e50; /* Darker color on hover */
}

/* Add event button */
#addEventBtn {
  padding: 10px 20px;
  background-color: #11115e; /* Blue color */
  color: #fff; /* White color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#addEventBtn:hover {
  background-color: #1a0e3c; /* Darker shade of blue */
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Cancel registration button */
.event-card button.cancel-registration {
  background-color: #dc3545; /* Red color */
}

.event-card button.cancel-registration:hover {
  background-color: #c82333; /* Darker shade of red */
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* Change to transparent */
}

.modal-content {
  background-color: #fff; /* White color for modal content */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Subtle shadow effect */
  width: 50%;
  max-width: 600px; /* Limit maximum width */
}

.modal-header {
  background-color: #cacbcc; /* Dark blue header */
  color: #000000; /* White text color */
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-title {
  font-size: 24px;
  margin: 0;
}

.close {
  color: #000; /* Change to black */
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #ccc; /* Light gray close icon color on hover */
}

/* Add this CSS to your existing stylesheet */

.modal-body {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add margin bottom for spacing */
}
.form-group {
  display: flex;
  align-items: center;
}

.alumni-name {
  margin-right: 10px; /* Add spacing between alumni name and profile button */
}

.profile-button {
  margin-left: 10px; /* Add margin between checkbox and profile button */
}

.modal-body input {
  width: calc(100% - 24px);
  padding: 12px;
  margin-bottom: 20px;
  border: 2px solid #ddd; /* Light gray border */
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.modal-body input:focus {
  outline: none;
  border-color: #3498db; /* Blue border on focus */
}

.modal-footer {
  background-color: #f9f9f9; /* Light gray footer */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  text-align: right;
}

.modal-footer button {
  padding: 12px 24px;
  margin-left: 10px; /* Add space between buttons */
  background-color: #2f185e; /* Blue button color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-footer button:last-child {
  margin-left: 0; /* Remove margin for the last button */
}

.modal-footer button:hover {
  background-color: #071136; /* Darker shade of blue on hover */
}

.accept-button,
.deny-button {
  padding: 12px 24px;
  margin-right: 10px; /* Add space between buttons */
  background-color: #482276; /* Blue button color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accept-button:hover,
.deny-button:hover {
  background-color: #071136; /* Darker shade of blue on hover */
}
  
  /* Styles for registered event */
  .event-card.registered {
    background-color: #f0f0f0; /* Lighter background color */
  }
  .event-card.apply {
    background-color: #f0f0f0; /* Lighter background color */
  }
  .profile-button-container {
    margin-left: 30px; /* Adjust the value as needed */
  }
  
 
  .alumni-info {
    display: flex;
    align-items: center;
  }
  
  .alumni-name {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .profile-icon {
    width: 24px;
    height: 24px;
  }
